<div class="container">
  <h2>Список курсов</h2>
  <table class="table sortable">
    <thead>
    <tr>
      <th>Название курса</th>
      <th>Ближайшее начало занятий</th>
      <th>Количество студентов</th>
    </tr>
    </thead>
    <% @web_courses.each do |web_course| %>
      <% group = web_course.groups.order(start_time: :asc).first %>
      <tr>
        <td><%= web_course.name %></td>
        <td><%= group.start_time.strftime('%d-%m-%Y') %></td>
        <% active_groups =  web_course.groups.select { |group| group.active } %>
        <td><%= active_groups.sum { |group| group.students.size } %></td>
        <td><%= link_to 'Show', web_course %></td>
      </tr>
    <% end %>
  </table>
</div>